@using ERP.Controllers.Manager
@using ERP.Controllers.Security.Manager
@{
    ViewBag.Title = "ModuleList";
    Layout = null;
}

@Styles.Render("~/CustomCSS/TCommonCss")
<style>
    body {
        background: #f5f5f5 !important;
    }
    .modulDiv {
   border-radius: 100px;
    height: 200px;
    width: 200px;
    /* border: 1px solid #f5ebeb; */
    cursor: pointer;
    background: #ffffff;
    box-shadow: 3px 2px 2px 3px;
    }
    .modulDiv:hover{
        background:#fd920d21;
        border:1px solid #f5ebeb;
    }
    .modulImg {
        margin-top: 24px;
        width: 92px;
        margin-left: 30px;
    }
    .modultextDiv {
        margin-top: 2px;
        text-align: center;
        color: #ff7b2e;
        font-size: 13px;
        font-weight: bold;
    }
  a, a:hover, a:focus{
      color:#ff7b2e;
    }
</style>
<div class="container">
    
    <div class="col-md-8 col-md-offset-2">
        @{
            ErpManager erpManager = new ErpManager();
            foreach (var ml in SecurityManager.GetModuleList(erpManager.CmnId()).OrderBy(g => g.Level).ToList())
            {
                <a href="@ml.Url">
                     <div class="col-md-4" id="module_@ml.Id">
                         <div class="well modulDiv">

                             <img class="modulImg" src="@ml.IconUrl"/>
                             <div class="modultextDiv">@ml.Name</div>
                         </div>

                     </div>
                 </a>
             }
        }




    </div>
    </div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/BjqueryCmn")
