
@{
    ViewBag.Title = "Product Category";
}
@model ERP.Models.POS.PosProductCategory

<script src="~/Scripts/Custom/Pos/Settings/ProductCategory.js"></script>

<div class="page-inner margin-top-15px">
    <div class="row">
        <div class="col-md-12">
            <div class="main-card card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title"> Product Category</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5">
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "ProductCategoryForm", @class = "form-horizontal" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                <div class="form-group form-inline control-group">
                                    <label class="col-md-4 itemLbl">Name</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control txtbox97", @placeholder = "Category name" })
                                        <span class="required">*</span>
                                        <span class="clsValidate">@Html.ValidationMessageFor(m => m.Name) </span>
                                    </div>
                                </div>
                                <div class="form-group form-inline control-group">
                                    <label class="col-md-4 itemLbl">Description</label>
                                    <div class="col-md-8">
                                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control txtbox97", @placeholder = "Description" })
                                        <span class="clsValidate">@Html.ValidationMessageFor(m => m.Description) </span>
                                    </div>
                                </div>
                            }
                            <div class="form-group form-inline control-group">
                                <div class="col-md-10 offset-2">
                                    <div class="pull-right">
                                        <input type="button" id="btnSave" class="btn btn-success btn-sm btn-sm" value="Save Change" />
                                        <input type="button" id="btnEdit" class="btn btn-warning btn-sm btn-sm" value="Update" />
                                        <input type="button" id="btnClear" class="btn btn-primary btn-sm btn-sm" value="Clear" />
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="col-md-7">
                            <div class="col">
                                <table id="dTable" class="table table-bordered w100"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
